---
const { price, salePrice, disponibility, payment, duration } = Astro.props;
import { CalendarDays, DollarSign, ArrowRight } from "lucide-react";
import ExternalButton from "../common/ExternalButton.astro";

const formattedToCLP = (value: number) => {
  return new Intl.NumberFormat("es-CL", {
    style: "currency",
    currency: "CLP",
    minimumFractionDigits: 0,
  })
    .format(value)
    .replace("CLP", "")
    .trim();
};

const formattedPrice = formattedToCLP(price);
const formattedSalePrice = formattedToCLP(salePrice);

const totalDiscount = price - salePrice;
const formattedTotalDiscount = formattedToCLP(totalDiscount);
---

<article
  class="py-10 lg:w-lg xl:w-xl md:w-md px-10 flex flex-col items-center rounded-xl bg-white border-2 border-moody-blue-100 hover:border-moody-blue-500"
>
  <header class="flex flex-col gap-10 w-full">
    <h2 class="text-4xl font-bold text-moody-blue-700 text-center">
      {formattedPrice}
      <span class="text-black font-normal text-lg">por sesión</span>
    </h2>
    <div
      class="border-2 border-green-300 rounded-lg w-full relative px-5 bg-green-50"
    >
      <div
        class="bg-green-700 rounded-lg w-fit px-2 absolute -top-3 h-6 flex items-center justify-center"
      >
        <p class="text-white text-xs font-bold">DESCUENTO FONASA</p>
      </div>
      <p class="text-center">
        <span class="text-gray-500 line-through text-lg font-bold mr-1"
          >{formattedPrice}</span
        >
        <span class="text-center text-2xl font-extrabold text-green-700">
          {formattedSalePrice}
        </span>
      </p>
      <p class="text-sm text-center text-green-700">
        Ahorra {formattedTotalDiscount} siendo usuario de Fonasa
      </p>
    </div>
  </header>
  <div>
    <p class="flex gap-2 items-center md:justify-center">
      <span class="text-moody-blue-700">
        <CalendarDays />
      </span>
      {disponibility}
    </p>

    <p class="flex gap-2 items-center justify-center">
      <span class="text-moody-blue-700">
        <DollarSign />
      </span>
      {payment}
    </p>
  </div>
  <footer class="flex flex-col md:justify-center items-center">
    <ExternalButton
      href="https://centroinclusionsana.site.agendapro.com/cl/sucursal/340116/profesional/569175"
      text="Agendar consulta"
      icon={ArrowRight}
    />
    <p class="text-sm text-gray-800">
      *La duración de cada sesión es de <span
        class="text-moody-blue-500 font-semibold"
        >{duration} minutos
      </span>
    </p>
  </footer>
</article>
